[user]
	name = Andrew Kelley
	email = andrew@ziglang.org
  signingkey = 7C5F548F728501A9
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = current
[branch]
	autosetupmerge = true
[core]
	excludesfile = ~/.gitignore
[branch "master"]
	remote = origin
	merge = refs/heads/master
[sendemail]
	smtpencryption = tls
	smtpserver = mail.ziglang.org
	smtpuser = andrew@ziglang.org
	smtpserverport = 587
[merge]
	conflictstyle = diff3
[imap]
  host = imaps://mail.ziglang.org
  user = andrew
  folder = "Drafts"
#[commit]
#	gpgsign = false
[tar "tar.xz"]
	command = xz -c
#[pull]
#	ff = only
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
